<section data-ng-controller="CrudstoriesController" data-ng-init="findOne()">
    <div class="page-header">
        <type><h1>Add Author</h1></type>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="updateAuthor()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="user">Primary User</label>
                    <div class="controls">
                        <input type="text" id="user" data-ng-model="crudstory.user[0].username" class="form-control" required disabled>
                    </div>

                    <div ng-repeat="item in items">
                        <input type="text" class="form-control" id="user{{item.questionPlaceholder}}" placeholder="user {{item.questionPlaceholder}}" ng-model="item.question">
                        <!-- placeholder="{{item.questionPlaceholder}}" -->
                    </div>


                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>

<!--         <div ng-repeat="item in items">
            <input type="text"  ng-model="item.question">
        </div> -->

        <button class="btn btn-default" ng-click="add()">Add</button>
        <button ng-click="cancel()" class="btn btn-default">Cancel</button>
    </div>
</section>