<section class="row" data-ng-controller="UserController" data-ng-init="findthis(user.user._id)">
<!-- oneuserByID(userId) -->
<!-- userByID shows current user while find and findOne show nothing -->

	<div class="col-12">
		<br>
		<br>

    	<div class="move text-center" heading="Your Profile">
		  	<div class="rightish">
				<h3 class="text-center"><type>Profile</type></h3>
				<hr>
				<div class="tab">
					<p><type>Username:</type></p>
					<p data-ng-model="user.username">{{user.username}}</p>
					<br>
				</div>
				<div class="tab">
					<p><type>Date Joined:</type></p>
					<p data-ng-model="user.created">{{user.created | date:'MMMM d, yyyy'}}</p>
					<br>
				</div>
				<div class="tab">
					<p><type>Original Prompts:</type></p>
					<ul>
						<li><a href="#">Story Title, organized by date written, newest first</a></li>
						<li><a href="#">limit to ten</a></li>
						<li><a href="#">... /<- clicking this takes you to their stories page where you can view all of their content</a></li>
					</ul>
					<br>
				</div>
				<div class="tab">
					<p><type>Collaborations:</type></p>
					<ul>
						<li><a href="#">Story Title, organized by date of user's first addition to story, oldest first</a></li>
						<li><a href="#">limit to ten</a></li>
						<li><a href="#">... /<- clicking this takes you to their story page as well</a></li>
					</ul>
					<br>
				</div>
				<div class="tab">
					<p><type>Friends: <- this might be problematic if based strictly on collabs</type></p>
					<ul>
						<li><a href="#">List of all friends/collaborators they've worked with</a></li>
					</ul>
					<br>
				</div>
				<div class="tab">
					<p><type>Faves:</type></p>
					<ul>
						<li><a href="#">List of their favorite stories</a></li>
					</ul>
					<br>
				</div>
			</div>
    	</div>


	</div>
</section>