<section class="row" data-ng-controller="UserController" data-ng-init="findOne()">
<!-- oneuserByID(userId) -->
<!-- userByID shows current user while find and findOne show nothing -->

	<!-- <div class="col-12"> -->
		<br>
		<br>
		<a href="/#!/authors"><button class="btn btn-default">Back to Authors</button></a>

    	<div class="text-center" heading="Profile">
		  	<div class="rightish">
				<h3 class="text-center"><type>Profile</type></h3>
				<hr>
				<div class="tab">
					<p><type>Username:</type></p>
					<p data-ng-model="user.username">{{user.username}}</p>
					<br>
				</div>
				<div class="tab">
					<p><type>Date Joined:</type></p>
					<p data-ng-model="user.created">{{user.created | date:'MMMM d, yyyy'}}</p>
					<br>
				</div>
				<div class="tab">
					<p><type>Stories:</type></p>
					<ul>
						<li ng-repeat="crudstory in crudstories | filter:{ user: username }"><a href="#">{{crudstory.title}}</a></li>
					</ul>
					<br>
				</div>
				<div class="tab">
					<p><type>Friends:</type></p>
					<ul>
						<li ng-repeat="favorite in user.favorites"><a href="#">{{user.favorites.title}}</a></li>
					</ul>
					<br>
				</div>
				<div class="tab">
					<p><type>Faves:</type></p>
					<ul>
						<li ng-repeat="friend in user.friends"><a href="#">{{user.friend.username}}</a></li>
					</ul>
					<br>
				</div>
			</div>
    	</div>


	<!-- </div> -->
</section>