<section data-ng-controller="UserController" ng-init="findauthors()">
    
<!-- my attempts to work around this have failed so far
    <div data-ng-show="authentication.user">
 -->    
    <div class="page-header">
        <h1>Humans</h1>
    </div>

    <p><type>Username:</type></p>
    <div data-ng-repeat="user in users">
        <p>{{user.user}}</p>
    </div>

    <div class="list-group">
        <a data-ng-repeat="user in users" data-ng-href="#!/settings/profile-url/{{user._id}}" class="list-group-item">
            <small class="list-group-item-text">
                <p>{{user.username}}</p>
            </small>
            <!-- <h4 class="list-group-item-heading" data-ng-bind="user.user._id"></h4> -->
        </a>
    </div>

        <!-- <div ng-controller="ExampleController"> -->
          <!-- <div ng-repeat="user in users" ng-init="outerIndex = $index"> -->
            <!-- <div data-ng-repeat="user in users" ng-init="innerIndex = $index">
               <span class="example-init">list[ {{outerIndex}} ][ {{innerIndex}} ] = {{user}};</span>
            </div> -->
          <!-- </div> -->
        <!-- </div> -->

    <!-- this would call when I had weirdness going on with the controller -->
    <div class="alert alert-warning text-center" data-ng-hide="!users.$resolved || users.length">
    	If for some reason I can't count the users, just go to your <a href="/#!/settings/profile">profile</a>.
    </div>
</section>


